main {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--primary-color);
    color: black;
}

#headerContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 10% 0;
}


#newButton {
    padding: 8px;
    border: 2px solid;
    border-radius: 8px;
    cursor: pointer;
    flex: 0 0 100px;
    background-color: var(--green-button-color);
    border-color: var(--border-green-button-color);
}
