footer {
    background-color: var(--secondary-color);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}

footer p {
    color: var(--primary-color);
}