.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 6px 10%;
    color: var(--primary-color);
    top: 0;
}

header nav img {
    width: 80px;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: var(--primary-color);
    font-weight: bold;
    font-size: large;
}

a:hover {
    cursor: pointer;
    transform: scale(1.02);
    color: var(--background-trail-color);
}