.trails {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trail {
    background-color: var(--background-trail-color);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    width: 80%;
}

.trail:hover {
    transform: scale(1.02);
    background-color: var(--hover-trail-color);
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}


.trails-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    min-width: 80%;
}

.trails-container * {
    padding: 10px;
}

.accordion-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.trails-container button {
    width: 100%;
}

.accordion-body {
    width: 100%;
    text-align: center;
}

.deleteButton {
    background-color: var(--red-button-color);
    border: 1px solid var(--border-red-button-color);
    border-radius: 8px;
}

.in-the-past {
    background-color: var(--past-trail-color) !important;
    border: 2px solid var(--border-past-trail-color) !important;
}

.in-the-past:hover {
    background-color: var(--hover-past-trail-color) !important;
}

.show-button {
    background-color: var(--yellow-button-color);
    border: 1px solid var(--border-yellow-button-color);
    border-radius: 8px;
}
